@{
    ViewData["Title"] = "SPACIA";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../css/Login.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <div class="login__fondo_e">
    <div class="content__elementos">
      <div class="image__spacia"><img src="../images/spacia_logo.png" alt="logo"></div>
      <input class="login__input" type="text" name="usuario" id="usuario">
      <input class="login__input" type="password" name="contrasena" id="contrasena">
      <button class="login__button" type="button" name="iniciar" id="inciar">Iniciar Sesión</button><br>
      <a class="login__forget" href="#">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</body>
<script src="../js/Login.js"></script>
</html>