@{
    ViewBag.Title = "Recuperar Contraseña";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Random rnd = new Random();
    int valRand = rnd.Next(10000);
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Listado de Cuadrillas</title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <script type="text/javascript" src="@Url.Content("~/script/otros.js?v=")@valRand"></script>
 
</head>
<body>
    @Html.Partial("~/Views/Shared/Loading.cshtml")

    <div class="fondo">
        <div class="login_fondo_e">
            <div class="content_elementos">
                <div class="image_spacia"><img src="../images/spacia_logo.png" alt="logo"></div>
                <p class="login_text">Te enviaremos un mensaje<br>con las instrucciones para que<br>puedas recuperar tu cuenta</p>
                <input class="login_input" type="text" name="usuario" id="iptUsuario" placeholder="correo electrónico" >
                <button class="login_button" type="button" name="iniciar" id="iptInciar">Recuperar Contraseña</button><br>
            </div>
        </div>
    </div>
        
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
    </script>
    <style></style>
</body>
</html>


