@{
    ViewData["Title"] = "LOGIN";
}

<div class="fondo">
  <div class="login__fondo_e">
    <div class="content__elementos">
      <div class="image__spacia"><img src="../images/spacia_logo.png" alt="logo"></div>
      <input class="login__input" type="text" name="usuario" id="usuario">
      <input class="login__input" type="password" name="contrasena" id="contrasena">
      <button class="login__button" type="button" name="iniciar" id="inciar">Iniciar Sesión</button><br>
      <a class="login__forget" asp-controller="Home" asp-action="RecoverPassword">¿Olvidaste tu contraseña?</a>
    </div>
  </div>

 
</div>


