@{
    ViewData["Title"] = "Recuperar Contraseña";
}
<div class="fondo">
  <div class="login__fondo_e">
    <div class="content__elementos">
      <div class="image__spacia"><img src="../images/spacia_logo.png" alt="logo"></div>
      <p class="login__text">Te enviaremos un mensaje<br>con las instrucciones para que<br>puedas recuperar tu cuenta</p>
      <input class="login__input" type="text" name="usuario" id="usuario" placeholder="correo eletrónico" >
      <button class="login__button" type="button" name="iniciar" id="inciar">Recuperar Contraseña</button><br>
    </div>
  </div>
</div>